*{
    margin: 0;
    padding: 0;
}

body{    
    height: 100vh;    
    overflow: hidden;
    background-color: #252121;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    display: flex;
    flex-direction: column;
    height: 15%;
    justify-content: space-around;
    
}

.container-nav{
    display: flex;
    justify-content: space-around;
    background-color: #10403b;  
    height: 100%;
    width: 100%;
}


nav li{
    display: flex;
    align-items: center;
}

nav li a{
    
    font-size: 20px;
}

nav li div a{
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    color:white;
}



nav li a:hover{
    font-weight: bolder;
}

.dropdown-menu{
    position: absolute;
    display: none;
}

.dropdown-menu a{
    display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: rgb(64, 83, 67);
    border-radius: 10px;
}

.ul-breadcrumb{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 2%;
    border-bottom: 2px solid #10403b;
    padding-left: 2%;

}

.a-breadcrumb{
   font-size: 2vh;      
}


li{    
    list-style-type: none;
    
}

h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    justify-content: center;
    align-items: end;    
    padding-bottom: 5px;
    height: 8%;
}


main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1%;
    justify-items:center;
    align-items: center;    
    background-color: #2a2b2a;
    width: 95%;
    margin: auto;
    height: 58%;
   
    
}


main div{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 82%;   
    color: white;
    font-size: 1.5vw;    
    font-weight: bolder;
    list-style-type: none;
    justify-content: end;
    background-color: #10403b;
    border-radius: 10px;    
}

main div:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8), 
    -5px -5px 10px rgba(120, 118, 118, 0.5);
}

main div:hover img{
    transform: scale(1.1);
}

main div span{
    padding-bottom: 5px;
    text-align: center;
}


a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 100%;
    
} 


a img{  
    
    width: 70%;
    height: 70%;
}


footer{ 

    display: flex;
    justify-content: space-around; 
    padding-left: 4%;
    align-items: center; 
    background-color: #053530;
    height: 15%;  
}

.img-logo{

    height: 80%;
    border-radius: 5px;
}

.img-redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    
}

.img-container-redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 60%;
}

footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5vh;
    
}

footer li{
    padding-bottom: 5px;
}

.titulo-lista-footer{
    font-weight: bolder;
    font-size: 2.5vh;
    padding-bottom: 10px;
    color: white;
}

footer a:hover{
    font-weight: bolder;
}

footer img:hover{
   transform: scale(1.3);
}